html{
    font-size:13px;
}

body{
    --spatiere-pagina:10px;
    --padding-sectiune:5px;
}



#grid-pagina {
    display: grid;
    grid-template-columns:1fr ;
    grid-template-areas:
      "z-prezentare"
      "z-prezentare"
      "z-calendar"
      "z-tabel"
      "z-anunturi"
      "z-utilizatori-lista"
      "z-utilizatori-statistici"
      "z-site-server"
      "z-diverse";
    grid-gap: 10px;
  }
