<footer>
  <hr>
  <a href="#" class="back-to-top">
    <div class="triangle"></div>
    <span class="tooltip">Back to Top</span>
  </a>
  <p><a href="./resurse/Termsandconditions.txt" class=linka download>Terms and conditions</a></p>
  <p> Contact us at: <a href="tel:0741234567" class=linka>0741234567</a></p>
  <p> Our E-mail: <a href="mailto:vipmotors@gmail.com" class=linka>vipmotors@gmail.com</a></p>
  <p>Our Whatsapp: <a href="https://wa.me/0741234567" target="_blank" class=linka>0741234567</a></p>
  <p>Address: <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@45.6006104,23.7244531,8z/data=!4m10!1m2!2m1!1sgoogle+maps+facultatea+de+matematica+si+informatica!3m6!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!15sCjNnb29nbGUgbWFwcyBmYWN1bHRhdGVhIGRlIG1hdGVtYXRpY2Egc2kgaW5mb3JtYXRpY2EiA4gBAZIBEmZhY3VsdHlfb2Zfc2NpZW5jZeABAA!16s%2Fg%2F1td63tdh" target="_blank" class=linka>Facultatea de matematica si informatica</a></p>
  <%- locals.optiuniMeniu %>
  <div class="copyright">
    <small>&copy; 2023 VIP Motors. All rights reserved.</small>
    <div><small><time datetime="2023-03-05">March 2023</time></small></div>
    </div>
</footer>