<script src="/Resurse/js/tema.js"></script>	
<button id = "tema" class = "btn btn-primary"><i class="fas fa-sun"></i> / <i class="fas fa-moon"></i></button>	
<div class="banner">Acesta este un proiect școlar!</div>
<header>
    <h1><i class='fas fa-car-side'></i> VIP Motors <i class="fas fa-cog fa-spin"></i></i></h1>
</header>
<div class="watermark">Voinea Dragos</div>
<nav>
<label id="hamburger" for="ch-menu">
    <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
</label>
<input id="ch-menu" type="checkbox">
<ul class="meniu">
    <li>
        <div>Home</div>
        <ul>
            <li><a href="/home">Main page</a></li>
        </ul>
    </li>

    <li>
        <div>About us</div>
        <ul>
            <li><a href="#whoweare">Who we are</a></li>
            <li><a href="#ourmission">Our mission</a></li>
            <li><a href="#ourvision">Our vision</a></li>
        </ul>
    </li>

    <li>
        <div>Brands</div>
        <ul>
            <li><a href="#porsche">Porsche</a></li>
            <li><a href="#ferrari">Ferrari</a></li>
            <li><a href="#lamborghini">Lamborghini</a></li>
        </ul>
    </li>

    <li><div>Our cars</div>
        <ul>
            <li><a href="/produse">All</a></li>
            <li><a href="/produse?brand=Bugatti">Bugatti</a></li>
            <li><a href="/produse?brand=Ferrari">Ferrari</a></li>
            <li><a href="/produse?brand=Porsche">Porsche</a></li>
            <li><a href="/produse?brand=McLaren">McLaren</a></li>
            <li><a href="/produse?brand=Aston-Martin">Aston Martin</a></li>
            <li><a href="/produse?brand=Bentley">Bentley</a></li>
            <li><a href="/produse?brand=Rolls-Royce">Rolls Royce</a></li>
            <li><a href="/produse?brand=Lamborghini">Lamborghini</a></li>
            <li><a href="/produse?brand=Maserati">Maserati</a></li>
        </ul>
    
    </li>
    </li>
    <li><a href="https://www.vipcarrental.ae/" target="_blank">Contact</a></li>
</ul>
</nav>